# Basic libs
numpy==1.21.6
pandas
matplotlib
seaborn

# Le Wagon libs
pytest
pylint
ipdb
jupyterlab
scikit-learn
pillow

# Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

# Project specific libs
opencv-python
darknet

# API
fastapi==0.108.0
uvicorn
streamlit
streamlit_webrtc
python-multipart

# Managing .env file lib
python-dotenv


# OpenAI
openai

# Logos lib
colorama

# Google storage
google-cloud-storage
